[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
ipdb = "0.13.9"
faker = "*"

[dev-packages]
sqlalchemy = "*"
pytest = "*"
ipdb = "0.13.9"

[requires]
python_version = "3.8"
